<!--
/**
 * Copyright © Alekseon sp. z o.o.
 * http://www.alekseon.com/
 */
-->
<!--@subject {{trans "New entity in form %title" title=$form.getTitle()}} @-->
<p>
    {{trans "New entity in form %title" title=$form.getTitle()}}.

</p>
<p>
    Example, to view value field add {{alekseon_widgets.field_1_1662982294_1}}
</p>
<p>
    where field_1_1662982294_1 is unique id field getting from Advanced Settings for field
</p>
<table style="float:left; margin-right: 10px" class="fue-abc-items">
    <tr>
        <td>
            demo
        </td>
    </tr>
    <tr>
        <td>{{alekseon_widgets.field_1_1662982294_1}}</td>
        <td>{{alekseon_widgets.field_1_1662982701_1}}</td>
        <td>{{alekseon_widgets.field_1_1663073248_1}}</td>
        <td>{{alekseon_widgets.field_1_1663073281_1}}</td>
    </tr>
</table>
