<?xml version="1.0"?>
<!--
/**
 * Copyright © Alekseon sp. z o.o.
 * http://www.alekseon.com/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="alekseon_custom_form_builder_form_record_save_after">
        <observer name="alekseon_custom_forms_builder_form_record_save_after" instance="Alekseon\CustomFormsEmailNotification\Observer\FormRecordSaveAfter" />
    </event>
</config>
