<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Alekseon\CustomFormsBuilder\Block\Adminhtml\Form\Edit\Tab\General">
        <plugin
                name="Alekseon_CustomFormsEmailNotification:RemoveAttributesFromGeneralTabPlugin"
                type="Alekseon\CustomFormsEmailNotification\Plugin\RemoveAttributesFromGeneralTabPlugin"
        />
    </type>
</config>